body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #15f248;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

.input-group button:hover {
    transform: scale(1.1, 1.1);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}
